.input::placeholder {
    color: #4F9CF9
}

.responsive-title {
    font-size: 80px; /* Tamaño por defecto */
}

.mb-n1 {
    margin-bottom: -25px !important;
}

.btn-login {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
}

.yeti-img-container {
    position: absolute;
    right: 0px;
    bottom: 0;
    z-index: -1;
}

.yeti-img {
    max-width: 100%;
    height: auto;
    position: relative
}

/*oculta yeti en móviles*/
@media (max-width: 767px) {
    .yeti-img-container {
        display: none;
    }
}