/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.yeti-img-container {
    top: 150px;
    right: 20px;
    transform: translateY(-50px);
}

.yeti-img {
    width: 300px;
}

/* Ajuste para pantallas más pequeñas */
@media (max-width: 768px) {
    .yeti-img {
        width: 200px; /* Ajusta el tamaño para pantallas pequeñas */
    }

    .yeti-img-container {
        top: 120px;
        right: 10px;
    }
}

@media (max-width: 576px) {
    .yeti-img {
        width: 150px; /* Ajusta el tamaño para pantallas muy pequeñas */
    }

    .yeti-img-container {
        top: 100px;
        right: 5px;
    }
}
