.register{
    margin-right: 130px;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: #D3E7FF;
    border: none;
}
.custom-placeholder::placeholder {
    color: #D3E7FF; /* Cambia el color del texto del placeholder a verde */
}